@font-face{
    font-family: "Waltograph";
    src: url("fonts/waltograph.txt"), 
    url("fonts/waltograph42.otf"),
    url("fonts/waltographUI.ttf") format("truetype");
}

body{
    font-family: Quicksand;
}


#profile{
    background-image: url(assets/Background.png);
    background-size: cover;
    color: white;
    height: 600px;
}

#profile nav{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

#profile span{
    font-family: "Waltograph";
    font-weight: 9px;letter-spacing: 1px;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.logo i{
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}
.top-nav h4{
    font-size: 18px;
    max-width: 200px;
    justify-self: start;
}
.top-nav h4 span{
    display: inline-block;
    max-width: 120px;
    overflow: hidden;
}
.top-nav .logo{
    justify-self: end;
}

.profile{
    justify-items: center;
    align-items: center;
    align-self: center;}
    
.port{
    background-color: transparent;
    border: 1px solid white;
     color: white;
      width: 220px;
    height: 50px;
    border-radius: 5px;

}
.hire{
    background-color: rgb(1, 128, 100);
    border: none;
    color: white;
    width: 220px;
    height: 50px;
    border-radius: 5px;
}
.btn{
    display: flex;
    gap: 20px;
}
.funfacts{
    justify-self: center;
} 
.funfacts h2{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    
}
.facts{
    display: flex;
    justify-self: space-between;
    width: 100%;
}

h2{
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 20px;
}
.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.Portfolio{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-top: 0;
}
@media screen and (max-width: 768px) {
    
}
.featured-row{
    display: flex;
    width: 100%;
}
.featured-row .image-side{
    flex: 1;
    width: 50%;
}

.featured-row .image-side img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.featured-row .text-side{
    flex: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
   
    .featured-row .image-side{
        position: relative;
        
    }
    
}
.Portfolio button{
    background-color: rgb(1, 128, 100);
    border: none;
    color: white;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    flex: 1;
    width: 50%;
    max-width: 100%;
    gap: 0;
    row-gap: 0;
}

.images img{
    width: 100%;
}
.images img:nth-child(3){
    grid-column: 1 / span 2;
}
.other{
    display: flex;
    width: 100%;
}
.other .other-sub{
    flex: 1;
    width: 100%;
    text-align: right;
    direction: ltr;
}
.other-sub{
    margin-right: 20px;
    align-content: center;

}
.other-sub h2{
    justify-self: end;
}
.other-sub p{
    justify-self: end;
}
.Portfolio  img:hover{
    transform: scale(1.02);
}

.exclusive{
    justify-self: center;
}

.exclusive h2, .exclusive p{
    justify-self: center;;
}
.exclusive hr{
    width: 50px;
    border: 3px solid #319873;
    margin-bottom: 15px;
}
.exclusive .icons img{
    height: 70px;
    width: 70px;
   margin: 30px 70px;
   
}
.exclusive .icons img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.quote{
    background-image: url(assets/camera.png);
    background-size: cover;
    width: 100%;
    height: 700px;
    color: white;
    justify-items: center;
}

.fa-quote-left{
    font-size: 140px;
    background-image: url(assets/green\ ellipse.png);
    margin-top: 100px;

}
hr{
    width: 50px;
    border: 2.5px solid #319873;
    margin-bottom: 15px;
}
.contact{
   
    justify-self: center;
}

.contact  p{
    font-size: 10px;
    justify-self: center;
}
.contact hr{
    width: 50px;
    border: 3px solid #319873;
    margin-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;}
    
#form input{
    width: 500px;
    height: 100px;
    margin: 20px;
    border: 1px solid rgb(209, 207, 207);
    background-color: rgb(241, 241, 241);
}

#form input:hover{
    border: 5px solid rgb(0, 162, 255);
}
form #message{
    height: 300px;
}
#form input :focus{
    background-color: rgb(255, 253, 253);
}
.submit{
    background-color: rgb(1, 128, 100);
    border: none;
    color: white;
    width: 220px;
    height: 80px;
    border-radius: 5px;
    justify-content: center;
    margin: auto;
}
.submit:hover{
    background-color: rgb(7, 114, 34);
    cursor: pointer;
}
.line{
    border: 0.4px solid rgb(202, 199, 199);
    width: 800px;
    margin: auto;
    margin-top: 60px; 
    
}
footer{
    margin: auto;
    justify-self: center;
    margin-top: 100px;
}

footer span{
    font-family: "Waltograph";
    font-weight: 9px;letter-spacing: 1px;
}
.name{
    display: flex;
    gap: 20px;
}
.name p{
    margin-top: 25px;
}
.name h3{
    font-size: 18px;
    font-weight: 400;
}
footer div:first-child{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
button:hover{
    cursor: pointer;
    transform: scale(1.04);
}

.Portfolio h2, .Portfolio hr, .other-sub h2, .featured-row h2{
    margin: 0;
    padding: 0;
}

.Portfolio *{ margin-top: 0;}